/* Dark mode styles */
.dark-mode {
  background-color: #1c1c1c;
  color: #e4ff00;
}

.dark-mode header {
  background-color: #333333;
  color: #ffffff;
}

.dark-mode main {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  background-color: #292929;
}

.dark-mode body {
  background-color: #1c1c1c;
  color: #ffffff;
}

.dark-mode h1 {
  color: #f7ae54;
}

.dark-mode h2 {
  color: #ffa63a;
}

body.dark-mode .search input[type="text"] {
  border: 1px solid #555555;
  background-color: #333333;
  color: #ffffff;
}

body.dark-mode .search button {
  background-color: #444444;
  color: #e4ff00;
}

body.dark-mode .model-image {
  box-shadow: 0px 4px 8px #ffffff1a;
}

body.dark-mode .model-tags {
  color: #659549;
}

body.dark-mode .download-button {
  background-color: #444444;
  color: #e4ff00;
}

body.dark-mode .download-button:disabled {
  background-color: gray;
  color: white;
}

body.dark-mode .refresh-button {
  background-color: #f7ae54;
  color: rgb(19, 18, 18);
}

body.dark-mode .radio-buttons label {
  background-color: #555555;
}

body.dark-mode .radio-buttons label:hover {
  background-color: #2b2b2b;
}

/* Default mode styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f7ae54;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px;
}

main {
  max-width: 1500px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* .search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 4px 0 0 4px;
}

.search button {
  padding: 10px 15px;
  background-color: #e4ff00;
  border: none;
  color: rgb(19, 18, 18);
  border-radius: 0 4px 4px 0;
  cursor: pointer;
} */

#modelsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.model-image {
  max-width: 256px;
  max-height: 512px;
  width: auto;
  height: auto;
  object-fit: cover;
  box-shadow: 0px 4px 8px #f7ae549a;
}

.model-link-img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}

/* Style the model name container */
.model-name-container {
  display: flex;
  align-items: center;
  margin: 2%;
}

.model-name {
  max-width: calc(100% - 30px);
  word-wrap: break-word;
}

.model-trigs {
  word-wrap: break-word;
  font-size: small;
  margin: 0;
}

.model-tags {
  word-wrap: break-word;
  font-size: small;
  font-variant: small-caps;
  color: #659549;
}

.download-button {
  width: 100%;
  margin-top: 10px;
  text-align: center;
  background-color: #e4ff00;
  color: rgb(19, 18, 18);
  border: none;
  padding: 10px;
  cursor: pointer;
}

.download-button:disabled {
  background-color: gray;
  color: white;
  width: 80%;
  cursor: not-allowed;
}


.refresh-button {
  cursor: pointer;
  background-color: #f7ae54;
  flex-grow: 1;
  padding: 8.37px;
  border: none;
  color: rgb(19, 18, 18);
  text-align: center;
  margin-top: 10px;
}

/* Style the model name container */
.model-download-container {
  display: flex;
  align-items: center;
}

/* Style the radio buttons container */
.radio-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

/* Style the radio button labels */
.radio-buttons label {
  position: relative;
  display: inline-block;
  padding: 8px 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s, border-color 0.3s;
  background-color: #ffffff;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  padding: 8px 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s, border-color 0.3s;
}

.radio-buttons input[type="radio"]:checked+label {
  background-color: #2196f3;
  color: #ffffff;
  border-color: #2196f3;
}

/* Style the radio buttons */
.radio-buttons input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Style the radio button labels when hovered */
.radio-buttons label:hover {
  background-color: #ccc;
}

/* Apply Flexbox to the radio button container */
.top_buttons {
  position: sticky;
  top: 20px;
  display: flex;
  /* flex-wrap: wrap; */
  gap: 10px;
  z-index: 1;
}

/* Apply Flexbox to the individual radio buttons */
.radio-buttons input[type="radio"] {
  flex: 1;
}

/* Style the toggle switch container */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  border: none;
}

/* Hide the checkbox input */
.toggle-switch input {
  display: none;
}

/* Style the slider */
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.4s;
}

/* Style the slider when checked (active) */
.toggle-switch input:checked+.slider {
  background-color: #f7ae54;
}

/* Position the slider when checked */
.toggle-switch input:checked+.slider:before {
  transform: translateX(36px);
}

/* Style the slider's thumb */
.slider:before {
  content: "";
  position: absolute;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: white;
  top: 1px;
  left: 1px;
  transition: 0.4s;
}

/* mobile users */
@media (max-width: 600px) {
  .radio-buttons {
    gap: 5px;
    margin-bottom: 10px;
  }

  .radio-buttons label {
    padding: 4px 8px;
    font-size: 12px;
  }

  header {
    padding: 5px;
    font-size: 12px;
  }

  main {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .slider {
    margin-bottom: 7.5px;
    width: 48px;
    height: 24px;
  }

  .slider:before {
    margin-bottom: 7.5px;
    width: 24px;
    height: 22px;
    top: 0.75px;
    left: 0.75px;
  }

  .toggle-switch input:checked+.slider:before {
    transform: translateX(24px);
  }

  .toggle-switch {
    width: 7.5px;
    height: 7.5px;
  }

  #modelsContainer {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .model-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .model-image {
    max-height: 384px;
    max-width: 334px;
  }

  .model-link-img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .model-name-container {
    display: flex;
    align-items: center;
    margin: 0.5%;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .model-name {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .body.dark-mode .model-name {
    color: #ffa63a;
  }

  .model-trigs {
    margin: 0;
  }

  .model-tags {
    margin-top: 5px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

}